<div class="col-lg-4 col-sm-6 mb-3" id="<%= dom_id address %>">
  <div class="card h-100 <%= defined?(is_cart) && is_cart && defined?(is_ship_to) && is_ship_to ? 'bg-success' : '' %>">
    <% if defined?(is_cart) && is_cart && defined?(is_ship_to) && is_ship_to %>
    <div class="card-header">Shipping to This Address</div>
    <% end %>
    <div class="card-body">
      <div class="row" id="top-container-19">
        <div class="col-sm-12">
          <p>
            <%= address.name %><br>
            <% if address.company.present? %>
              <%= address.company %><br>
            <% end %>
            <%= address.address_one %><br>
            <% if address.address_two.present? %>
              <%= address.address_two %><br>
            <% end %>
            <%= address.city %>, <%= address.province.name %><br>
            <%= address.postal_code %><br>
            <%= address.country %>
          </p>

          <p>
            <% if address.email.present? %>
              <%= address.email %><br>
            <% end %>
            <% if address.phone.present? %>
              Phone: <%= address.phone %><br>
            <% end %>
            <% if address.fax.present? %>
              Fax: <%= address.fax %><br>
            <% end %>
          </p>

          <p>
            <% if address.fax.present? %>
              <%= address.notes %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <% if defined?(is_cart) && is_cart %>
        <% if defined?(is_ship_to) && !is_ship_to %>
          <%= button_to '<i class="fa-solid fa-plus"></i> Ship to This Address'.html_safe, {controller: "carts", action: "ship_to", address_id: address.id}, class: "btn btn-md btn-success me-2" %>
        <% end %>
      <% else %>
        <%= link_to '<i class="fa-solid fa-pen"></i>'.html_safe, edit_address_path(address), class: "btn btn-md btn-primary" %>
        <%= button_to '<i class="fa-solid fa-delete-left"></i>'.html_safe, address, method: :delete, class: "btn btn-md btn-danger" %>
      <% end %>

    </div>
  </div>
</div>