<%= render 'layouts/search', category_title: @category.title %>
<%= render 'layouts/card', heading: @category.title, body: @category.description.html_safe %>
<%= render 'layouts/sales' %>

<% if @category_products.length > 0 %>
  <div class="row" id="sortable-wrapper">
    <%= paginate @category_products, remote: true %>
    <% @category_products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
<% else %>
  No products found.
<% end %>
