<div class="card mt-4 bg-dark text-white mb-3">
  <div class="card-header"><%= @product.title %></div>
  <div class="card-body">
    <div class="row">
      <% if @product.main_image.attached? %>
        <div class="col-sm-4">
          <%= image_tag @product.main_image, alt: @product.title, class: "rounded img-fluid" %>
        </div>
        <% main_col_width = 8 %>
      <% else %>
        <% main_col_width = 12 %>
      <% end %>
      <div class="col-sm-<%= main_col_width %>">
        <h5><%= @product.title %></h5>
        <% @product.categories.each do |category| %>
          <h6><%= link_to category.title, category %></h6>
        <% end %>
        <h3><span class="badge rounded-pill bg-warning modal-price">
          <%= render 'layouts/price', price: @product.price, list_price: @product.list_price %>
        </span></h3>
        <h6>SKU: <%= @product.sku %></h6>
      </div>
    </div>

    <div class="modal-desc">
      <%= @product.description.html_safe %>
    </div>
  </div>
</div>