<%= form_with(model: sales_order) do |form| %>
  <% if sales_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sales_order.errors.count, "error") %> prohibited this sales_order from being saved:</h2>

      <ul>
        <% sales_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :order_number, style: "display: block" %>
    <%= form.text_field :order_number %>
  </div>

  <div>
    <%= form.label :tracking_number, style: "display: block" %>
    <%= form.text_field :tracking_number %>
  </div>

  <div>
    <%= form.label :shipping, style: "display: block" %>
    <%= form.text_field :shipping %>
  </div>

  <div>
    <%= form.label :prov_tax, style: "display: block" %>
    <%= form.text_field :prov_tax %>
  </div>

  <div>
    <%= form.label :fed_tax, style: "display: block" %>
    <%= form.text_field :fed_tax %>
  </div>

  <div>
    <%= form.label :due_date, style: "display: block" %>
    <%= form.date_field :due_date %>
  </div>

  <div>
    <%= form.label :order_date, style: "display: block" %>
    <%= form.date_field :order_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
