<div id="<%= dom_id sales_order %>">
  <div class="row">
    <%= render @address, is_sales_order: true %>
  </div>

  <table class="table table-dark table-striped" data-toggle="table">
    <caption class="d-none">Cart</caption>
    <thead class="align-middle">
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Sku</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Shipped</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <% order_item = @sales_order_details.find { |ci| ci.product_id == product.id } %>
      <tr>
        <td>
          <% if product.main_image.attached? %>
            <div class="col-sm-4">
              <%= image_tag product.main_image, alt: product.title, class: "rounded img-fluid", style: "max-height: 70px;" %>
            </div>
          <% end %>
        </td>
        <td><%= product.title %></td>
        <td><%= product.sku %></td>
        <td><%= number_to_currency(order_item.price) %></td>
        <td>
          <%= order_item.quantity %>
        </td>

        <td>

        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="card bg-dark text-white mb-3">
    <div class="card-header">Order Summary</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 text-end">
          <% subtotal = calc_subtotal(@sales_order) %>
          <strong>Subtotal: </strong><%= number_to_currency(subtotal) %><br>
          <strong>Shipping: </strong><%= number_to_currency(@sales_order.shipping) %><br>
          <hr>
          <strong>PST: </strong><%= number_to_currency(@sales_order.prov_tax) %><br>
          <strong>GST/HST: </strong><%= number_to_currency(@sales_order.fed_tax) %><br>
          <hr>
          <strong>Total: </strong><%= number_to_currency(subtotal + @sales_order.shipping.to_f + @sales_order.prov_tax.to_f + @sales_order.fed_tax.to_f) %>
        </div>
      </div>
    </div>
  </div>
</div>
