<div id="<%= dom_id sales_order %>">
  <p>
    <strong>Order number:</strong>
    <%= sales_order.order_number %>
  </p>

  <p>
    <strong>Tracking number:</strong>
    <%= sales_order.tracking_number %>
  </p>

  <p>
    <strong>Shipping:</strong>
    <%= sales_order.shipping %>
  </p>

  <p>
    <strong>Prov tax:</strong>
    <%= sales_order.prov_tax %>
  </p>

  <p>
    <strong>Fed tax:</strong>
    <%= sales_order.fed_tax %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= sales_order.due_date %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= sales_order.order_date %>
  </p>

</div>
