<footer class="bg-dark text-white text-center text-lg-start mt-5">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Our Locations</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fa-solid fa-store"></i> <%= Preference.find_by(setting: "company_name").value %></li>
          <li><%= Preference.find_by(setting: "company_address1").value %></li>
          <% if Preference.find_by(setting: "company_address2").value.present? %>
            <li><%= Preference.find_by(setting: "company_address2").value %></li>
          <% end %>
          <li><%= Preference.find_by(setting: "company_city").value %>
            , <%= Preference.find_by(setting: "company_prov").value %></li>
          <li><%= Preference.find_by(setting: "company_postalcode").value %></li>
          <li><%= Preference.find_by(setting: "company_country").value %></li>
          <li>
            <i class="fa-solid fa-phone"></i> <%= Preference.find_by(setting: "company_phone").value %>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <%= link_to 'About', static_page_path(1) %>
          </li>
          <li>
            <%= link_to 'Contact Us', static_page_path(2) %>
          </li>
          <li>
            <%= link_to 'Admin', '/admin' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
    <p><%= Preference.find_by(setting: "copyright").value %></p>
  </div>
</footer>
