<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container d-flex flex-grow-1">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fa-solid fa-camera"></i> <%= Preference.find_by(setting: "company_name").value %>
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#header-menu" aria-controls="header-menu" aria-expanded="false"
              aria-label="Toggle Menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="header-menu">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="d-none d-xxl-inline"><i class="fa-solid fa-layer-group"></i> </span>Categories</a>
            <div class="dropdown-menu" data-bs-popper="none">
              <% @categories.each do |category| %>
                <%= link_to category.title, category, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to '<span class="d-none d-xxl-inline"><i class="fa-solid fa-shop ?>"></i></span> About'.html_safe, static_page_path(1), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '<span class="d-none d-xxl-inline"><i class="fa-solid fa-envelope"></i></span> Contact'.html_safe, static_page_path(2), class: "nav-link" %>
          </li>



          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to '<span class="d-none d-xxl-inline"><i class="fa-solid fa-cart-shopping"></i></span> Cart'.html_safe, static_page_path(2), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '<span class="d-none d-xxl-inline"><i class="fa-solid fa-clock-rotate-left"></i></span> Past Orders'.html_safe, sales_orders_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '<span class="d-none d-xxl-inline"><i class="fa-solid fa-right-from-bracket"></i></span> Log-Out'.html_safe, '/users/sign_out', class: "nav-link" %>
          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to '<span class="d-none d-xxl-inline"><i class="fa-solid fa-right-to-bracket"></i></span> Log-In'.html_safe, '/users/sign_in', class: "nav-link" %>
            </li>
            <% end %>
        </ul>
        <div class="d-flex mb-0">
          <div class="input-group">
            <input type="text" class="form-control" id="site-search-input"
                   name="site-search-input">
            <button class="btn btn-secondary" type="button" id="search-button" name="search-button"
                    data-bs-toggle="modal" data-bs-target="#search-popup">Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
